<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div>
            姓名 <input v-model="name">
            年龄 <input v-model="age" @keyup.f1="add">
            <!-- 也可以使用全局注册的按键修饰符 -->
            地址 <input v-model="address" @keyup.113="add">
            <!-- 也可以使用按键的ascll值 -->
            时间 <input v-model="date" @keyup.enter="add">
            <!-- 按键修饰符 -->
            <!-- VUE提供的按键修饰符
        .enter
        .tab
        .delete (捕获“删除”和“退格”键)
        .esc
        .space
        .up
        .down
        .left
        .right -->
            <button @click="add">新增</button>
        </div>
        <div>姓名<input v-model="keyword"></div>

        <table border="1px">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                    <th>地址</th>
                    <th>时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item,index) in search(keyword)" :key="item">
                    <td>{{index+1}} </td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.date}}</td>
                    <td><a type="javascript:;" @click="delete(item)">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
    <script>
        // 自定义全局按键修饰符
        Vue.config.keyCodes.f2 = 112
        var app = new Vue({
            el: "#app",
            data() {
                return {
                    keyword: '',
                    date: '',
                    name: '',
                    address: '',
                    age: null,
                    tableData: [{
                        date: '2016-05-02',
                        name: '王小虎',
                        address: '上海市普陀区金沙江路 1518 弄',
                        age: 18
                    }, {
                        date: '2016-05-04',
                        name: '王虎',
                        address: '上海市普陀区金沙江路 1517 弄',
                        age: 25
                    }, {
                        date: '2016-05-01',
                        name: '王二虎',
                        address: '上海市普陀区金沙江路 1519 弄',
                        age: 35
                    }, {
                        date: '2016-05-03',
                        name: '王三虎',
                        address: '上海市普陀区金沙江路 1516 弄',
                        age: 45
                    }],
                }
            },
            created(){
                this.search
            },
            methods: {
                add(){

                },
                delete(x){
                    console.log(x);
                },
                search(val){
                   
                    const newList = []
                   const aa =  this.tableData.find(item => item.age >30)
                   console.log(aa);
                }
            },
        })
    </script>
</body>

</html>